<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="homePageUrl" value="https://nicolas-bernarde.com/actualites/folies-de-la-semaine/"/>
    <add key="emailSubject" value="Nouvelles patisseries du samedi"/>
    <add key="gmailSmtpServer" value="smtp.gmail.com"/>
  </appSettings>
</configuration>